@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{box-sizing: border-box; font-family: 'Raleway', sans-serif;}
html, body{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

header{width: 100%; height: 100px; background: #fff; position: -webkit-sticky; position: sticky; top:0; z-index: 9;}
header .wrap{
    width: 1200px; height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    /* background-color: #ffa; */
    display: flex;
    justify-content: space-between;
}
header .wrap .logo{padding: 28px 0;}
header .wrap .logo a{}
header .wrap .logo a img{
    display: block;
    height: 44px;
}

header .wrap nav{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    /* background: #faf; */
}
header .wrap nav ul{display: flex;}
header .wrap nav ul li{margin: 0 20px;}
header .wrap nav ul li a{
    display: block;
    font-size: 12px;
    line-height: 100px;
    color:#323232 ;
}
header .wrap nav ul li:hover a{color:#795548;}

header .wrap nav .mypage{display: flex; padding: 40px 0;}
header .wrap nav .mypage a{margin-right: 20px;}
header .wrap nav .mypage a:last-child{margin-right: 0;}
header .wrap nav .mypage a img{
    display: block;
    height: 20px;
}

/* .banner */
main{}
main .banner{
    height: 980px;
    background-image: url(../img/cs-home-hero.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
main .banner .dark{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
main .banner .dark .wrap{
    width: 1200px; 
    padding: 0 10px;
    height: 100%;
    margin: 0 auto; 
    padding-top: 340px;
}
main .banner .dark .wrap .txt_box{
    width: calc(50% - 20px);
    margin: 0 auto;
    text-align: center;
    color:#fff;
    /* background: #faf; */
}
main .banner .dark .txt_box h5{font-size: 18px; font-weight: 400; margin-bottom: 20px;}
main .banner .dark .txt_box h3{font-size: 48px; font-weight: 400; margin-bottom: 40px;}
main .banner .dark .txt_box p{font-size: 18px; margin-bottom: 40px;}
main .banner .dark .txt_box a{display: block; font-size: 14px; color:#fff; width: 200px; height: 40px; border: 1px solid #fff; line-height: 38px; margin: 0 auto;}

main .banner .dark .txt_box a:hover{background: rgba(255,255,255,0.25);}

/* #product */
main #product{width: 1200px; margin: 0 auto; padding: 0 10px; padding: 120px 0;}
main #product h3{font-size: 36px; font-weight: 400; line-height: 60px; margin-bottom: 20px;}
main #product .info{display: flex; height: 240px; margin-bottom: 40px;}
main #product .info img{width: 380px; margin-right: 20px;}
main #product .info .txt_box{display: flex; flex-wrap: wrap;}
main #product .info .txt_box p{font-size: 18px; color: #8d8d8d;}
main #product .info .txt_box p.top{width: 680px; padding-top: 45px; margin-bottom: 20px; }
main #product .info .txt_box p.bottom{width: 680px; margin-left: 100px; padding-bottom: 45px;}

main #product .cont{
    width: 1200px; 
    height: 1260px;
    margin: 0 auto; 
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
main #product .cont .box{
    width: calc(100% / 3 - 20px);
    margin: 0 10px 20px;
    height: 300px;
    position: relative;
    overflow: hidden;  
    background: radial-gradient(#fafafa, #c1c1c1);
}
main #product .cont .box:nth-child(4){width: calc(100% / 3 * 2 - 20px); height: 300px; display: flex; }
main #product .cont .box:last-child{background-image: url(../img/gift_box_01.jpg); background-size: 100% auto; background-position: 50% 50%; transition: background-size 0.5s;}
main #product .cont .box:last-child:hover{background-size: 105% auto;}

main #product .cont .box:nth-child(4) .img_part{width: calc(50% - 10px); height: 100%; background-image: url(../img/recommand_01.jpg); background-size: 100% auto; background-position: 50% 50%;}
main #product .cont .box:nth-child(4):hover .img_part{background-size: 105% auto; transition: background-size 0.5s;}


main #product .cont .box h5{font-size: 24px; font-weight: 400; padding: 20px 0 0 20px;}
main #product .cont .box img{height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: transform 0.5s;}

main #product .cont .box:hover img{transform: translate(-50%, -50%) scale(1.05);}

main #product .cont .box .txt{width: 100%; height: 80px; background: rgba(255,255,255,0.75 ); padding: 20px;  color: #323232; position: absolute; bottom: 0; transform: translateY(80px); transition: transform 0.5s;} 

main #product .cont .box:hover .txt{transform: translateY(0);}

main #product .cont .box .txt p.pd{font-size: 14px; font-weight: 700; line-height: 20px;}
main #product .cont .box .txt p.price{font-size: 14px; text-align: right;}

main #product .cont .box:nth-child(4) .txt_box{width: calc(50% + 10px); padding-left: 20px; padding-top: 20px; background: #323232; color: #c1c1c1;}
main #product .cont .box:nth-child(4) .txt_box .sub_title{font-size: 14px; margin-bottom: 10px; }
main #product .cont .box:nth-child(4) .txt_box .title{font-size: 22px; font-weight: 700; margin-bottom: 20px; color: #fff;}
main #product .cont .box:nth-child(4) .txt_box .recmmd{font-size: 13px; margin-bottom: 20px;}
main #product .cont .box:nth-child(4) .txt_box a{font-size: 14px; color: #795548;}

main #product .cont .box:nth-child(11) .txt_dark{width: 100%; height: 100%; background: rgba(0,0,0,0.5); position: relative;}
main #product .cont .box:nth-child(11) .txt_dark p{font-size: 18px; color: #fffefe; position: absolute; bottom: 20px; right: 20px;}

main #product .btn{margin-bottom: 40px;}
main #product .btn a{display: block; font-size: 18px; line-height: 38px; text-align: center; border: 1px solid #323232;  width: 180px; height: 40px; margin: 0 auto; color:#323232; transition: color 0.5s, background 0.5s;}  

main #product .btn:hover a{background: #323232; color:#fff;}

/* #mid_banner */
#mid_banner{width: 100%; height: 600px; position: relative; overflow: hidden;}
#mid_banner .video_box{width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

/* #categories */
main #categories{height: 680px;}
main #categories .wrap{
    width: 1200px; height: 100%;
    margin: 0 auto;
    padding: 120px 10px;
    /* background: #afa; */
}
main #categories .wrap h3{font-size: 48px; font-weight: 400; line-height: 80px; margin-bottom: 20px; color:#323232;}
main #categories .wrap .link{width: 100%; height: 100%; display: grid; grid-template-columns: repeat(3, 1fr); grid-column-gap: 20px;}
main #categories .wrap .link .box{
    /* background: #ffa; */
    text-align: center;
}
main #categories .wrap .link .box p{font-size: 30px; color: #323232; margin-bottom: 20px;}
main #categories .wrap .link .box img{display: block; height: 160px; margin: 0 auto; margin-bottom: 40px;}
main #categories .wrap .link .box a{display: block; width: 120px; height: 40px; margin: 0 auto; border: 1px solid #323232; background: #323232; line-height: 38px; color:#fafafa; font-size: 16px; margin-bottom: 40px;}

main #categories .wrap .link .box a:hover{background: #fafafa;; color:#323232; transition: background 0.5s, color 0.5s;}


/* footer */
footer{width: 100%; height: 280px; background: #323232;}
footer .wrap{width: 1200px; height: 100%; margin: 0 auto; padding: 40px 10px;}
footer .wrap .top{display: flex; justify-content: space-between; }
footer .wrap .top .left{width: calc(100% / 12 * 7); display: flex; justify-content: space-between; margin-bottom: 20px;}
footer .wrap .top .left .logo{}
footer .wrap .top .left .logo img{display: block; height: 40px;}

footer .wrap .top .left ul{}
footer .wrap .top .left ul li{margin: 10px 0; cursor: pointer;}
footer .wrap .top .left ul li a{font-size: 16px; color:#c1c1c1;}
footer .wrap .top .left ul li:first-child a{font-weight: 700;}

footer .wrap .top .left ul li:hover a{color:#fff;}

footer .wrap .top .info_img{display: flex; margin-top: 40px;}
footer .wrap .top .info_img a{margin-right: 20px;}
footer .wrap .top .info_img a:last-child{margin-right: 0;}
footer .wrap .top .info_img a img{display: block; width: 80px; height: 80px;}

footer .wrap .copy{text-align: center;}
footer .wrap .copy p{font-size: 14px; color:#c1c1c1; line-height: 20px;}